*{
    box-sizing: border-box;
}
.navbar-brand img{
    width: 50px;
}
body nav{
    background-color: rgb(78, 3, 3);
}
.navbar-nav{
    font-size: 15pt;
}
.navbar-nav a{
    color: rgb(213, 212, 212);
}
.navbar-nav a:hover{
    color: white;
}
.navbar-nav .active {
    color: rgb(178, 162, 72) !important;
}
footer{
    background-color: rgb(78, 3, 3);
    color: white;
}
#logoFooter img{
    width: 90px;
    padding: 0px;
}
footer h6{
    padding-top: 20px;
}