<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Accesorios - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    
    
    <main id="listadoCliente">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar bg-secondary">
				<ul class="nav nav-sidebar mt-3">
					<div class="d-flex mt-4">
						<form action="#" th:action="@{/accesorio/search}" th:object="${searchForm}" method="POST">
						<input type="text" class="form-control" name="nombre" placeholder="Buscar Por Nombre" th:field="*{search}" />
						<button class="btn" type="submit">
							<i class="bi bi-search"></i>
						</button>
						</form>
					</div>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 mt-3 mb-5">
				<div class="row">
					<div class="col-sm-3" th:each="accesorio : ${listaAccesorios}">
						<a href="#" th:href="@{/accesorio/{id}(id=${accesorio.id})}">
							<div class="col-item">
								<div class="photo">
									<img src="http://placehold.it/350x260"
										th:src="${#strings.isEmpty(accesorio.imagen)} ? 'http://placehold.it/350x260' : ${accesorio.imagen}"
										class="img-responsive" alt="a" />
								</div>
								<div class="info">
									<div class="row">

										<div class="price col-md-12">
											<h5 th:text="${#strings.abbreviate(accesorio.nombre,65)}">Nombre</h5>
											<div class="price-text-color">
												<span th:text="${#numbers.formatCurrency(accesorio.precioBase)}">10</span>
											</div>
											<div class="description-text-color">
												<span th:text="${#strings.abbreviate(accesorio.descripcion,150)}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>

	</main>
    
    
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>