<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Motocicletas - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    <main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Nombre</th>
								<th>Cantidad</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Subtotal</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
	
							<!-- Bucle que va sacando los distintos elementos guardados en el carrito. Recordemos que es
	                un HashMap cuya clave es un  producto y cuyo valor es la cantidad de productos, por eso
	                vamos sacando un elemento del carrito, esto significa que element, es tipo Entry, es decir,
	                pareja clave-valor "entera" (producto-cantidad), por todo esto, cuando queremos, por ejemplo, 
	                mostrar el nombre del producto, accedemos mediante: 
	                ${element.key.nombre} ya que sacamos la clave de la pareja "entry" que es un producto, 
	                y a su vez, accedemos al tributo nombre de ese producto -->
	
							<tr th:each="element : ${productos.entrySet()}">
								<td class="col-sm-8 col-md-6">
											<img
												src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
												style="width: 150px;" th:src="${element.key.imagen}"/>	
								</td>
								<td class="col-sm-1 col-md-2 col-lg-3">
									<h3><span th:text="${element.key.nombre}">Product name</span></h3>
								</td>
								<td class="col-sm-1 col-md-1" style="text-align: center">
									<input class="form-control" id="inputQuantity" value="3" th:value="${element.value}"
										type="text" />
								</td>
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${element.key.precioBase}">$4.87</strong></td>
								<!-- Como se puede ver en el manual de Th y hablamos en clase, en th se pueden hacer operaciones básicas con variables
	                        como en java, por lo que se puede multiplicar un valor por otro, como por ejemplo, aquí en precio por cantidad -->
	
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${element.key.precioBase * element.value}">$14.61</strong></td>
								<td class="col-sm-1 col-md-1">
	
								
								<button type="button" class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove
									</button>
								</td>
							</tr>
							<!--
							<tr>
								<td>   </td>
								<td>   </td>
								<td>   </td>
								<td>
									<h3>Total</h3>
								</td>
								<td class="text-right">
									<h3><strong th:text="${total_carrito}">100€</strong></h3>
								</td>
							</tr>
							<tr>
								<td>   </td>
								<td>   </td>
								<td>   </td>
								<td>
									<button type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
									</button>
								</td>
								<td>
									<button type="button" class="btn btn-success">
										Checkout <span class="glyphicon glyphicon-play"></span>
									</button>
								</td>
							</tr>
							-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>