<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Carrito - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    <main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Nombre</th>
								<th>Cantidad</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Subtotal</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="element : ${productos.entrySet()}">
								<td class="col-sm-8 col-md-6">
											<img style="width: 150px;" th:src="${element.key.imagen}"/>	
								</td>
								<td class="col-sm-1 col-md-2 col-lg-3">
									<h3><span th:text="${element.key.nombre}">Product name</span></h3>
								</td>
								<td class="col-sm-1 col-md-1" style="text-align: center">
									<input class="form-control" id="inputQuantity" value="3" 
									th:value="${element.value}" type="text" />
								</td>
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${element.key.precioBase + '€'}"></strong></td>
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${element.key.precioBase * element.value + '€'}"></strong></td>
								<td class="col-sm-1 col-md-1">
										
								<a href="#" th:href="@{/borrarProducto/{id}(id=${element.key.id})}">
									<button type="button" class="btn">Borrar</button>
								</a>
								</td>
							</tr>
							<tr>
								<td>   </td>
								<td>   </td>
								<td>   </td>
								<td>
									<h3>Total</h3>
								</td>
								<td colspan="2" class="text-right">
    								<h4>
										<strong th:text="${#numbers.formatDecimal(total_carrito, 0, 2) + '€'}">
										</strong>
									</h4>
								</td>
								
							</tr>
							<tr>
								<td>   	</td>
								<td>   	</td>
								<td>	</td>
								<td colspan="2"> 
									<button type="button" class="btn" onclick="window.history.go(-2);">Continuar Comprando</button> 
								</td>
								
								<td>	
									<a href="#" th:href="@{/carrito/finalizarCompra}">
										<button type="button" class="btn btn-custom">
					  						<form method="POST" action="#" th:action="@{/carrito/finalizarCompra}" id="venta">
												  <a href="javascript:document.getElementById('venta').submit()">Finalizar Compra</a>
					  						</form>
										</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>