<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Contacto - TU MOTO</title>
</head>
<body>

    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    
    <main id="mainContacto">
         <div class="sobreNosotros">
			<div class="row same-height justify-content-center">
				<div class="col-md-6">
					<div class="post-entry text-center">
						<h1 class="mb-4">Sobre Nosotros</h1>
					</div>
				</div>
			</div>
		</div>
        <section>
            <div class="row">
                <div class="col-xl-1">
                </div>
                <div class="col-12 col-md-5 col-xl-5">
                    <img src="../img/motoRojaContacto.jpg" alt="Fotografía Motocicleta">
                </div>
                <div class="col-11 col-md-6 col-xl-6">
                    <div class="seccion">
                        <h2>¿Quienes somos?</h2>
                        <p>En Tu Moto, nos apasiona el mundo de las motocicletas y nos enorgullece ser uno de los principales proveedores 
                            de motocicletas de calidad para entusiastas y amantes de la conducción en todo el país. Desde nuestro inicio, 
                            nos hemos comprometido a ofrecer una amplia selección de motocicletas, brindando a nuestros clientes opciones que se 
                            ajusten a sus necesidades y estilo de vida.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-12 col-md-5 col-xl-5 img order-md-1">
                    <img src="../img/motoVerdeContacto.jpg" alt="Fotografía Motocicleta">
                </div>
                <div class="col-11 col-md-6 col-xl-6">
                    <div class="seccion">
                        <h2>¿Qué ofrecemos?</h2>
                        <p>En TU MOTO, estamos apasionados por el mundo del motor. Ofrecemos una amplia gama de motocicletas nuevas y usadas de las 
                            marcas más reconocidas del mercado, para que puedas encontrar la que mejor se adapte a tus necesidades y gustos.
                        </p>
                        <p>Nuestro equipo de profesionales altamente capacitados y experimentados te brindará una atención personalizada y un 
                            asesoramiento especializado para que puedas elegir la moto que mejor se adapte a tus necesidades y estilo de conducción.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="contenedor">
            <div class="row">
                <div class="col-11 col-md-11 col-lg-4 col-xl-4 mx-auto">
                    <div class="caja">
                        <i class="bi bi-wrench-adjustable bi-lg"></i>
                        <div>
                            <h6>Calidad</h6>
                            <p>En TU MOTO, la calidad de los productos es una prioridad absoluta. Los expertos del concesionario saben que sus 
                            clientes esperan lo mejor, por lo que se esfuerzan por ofrecer una selección de motocicletas y accesorios de alta 
                            calidad y durabilidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-11 col-lg-4 col-xl-4 mx-auto">
                    <div class="caja">
                        <i class="bi bi-people-fill"></i>
                        <div>
                            <h6>Profesionalidad</h6>
                            <p>El concesionario de motocicletas se distingue por su profesionalidad en todos los aspectos de su operación. Desde 
                            el primer contacto hasta el servicio postventa, el equipo del concesionario se esfuerza por brindar una experiencia 
                            de primera clase a sus clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-11 col-lg-4 col-xl-4 mx-auto">
                    <div class="caja">
                        <i class="bi bi-fire"></i>
                        <div>
                            <h6>Pasión</h6>
                            <p>En TU MOTO celebramos la fascinación por las motos. Cada rincón está impregnado de un 
                            ambiente dinámico y emocionante, donde los amantes de las motocicletas encuentran un espacio para explorar y 
                            descubrir la moto que más se adapta a tí.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="dondeEstamos">
            <h1>¿Donde estamos?</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1068.2999734041045!2d-5.962905787022038!3d37.42045341913744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1269212899fb17%3A0x56aec12553b3acdd!2sPlaza%20de%20las%20Escritoras!5e0!3m2!1ses!2ses!4v1682614725236!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>