<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Motocicletas - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    
    <main id="details">
        <div class="row">
            <div class="col-11 col-md-5 col-xl-5 mx-auto d-flex justify-content-end">
                <img src="http://placehold.it/400x400" alt=""
					th:src="${#strings.isEmpty(motocicleta.imagen)} ? 'http://placehold.it/350x260' : ${motocicleta.imagen}"
					 />
            </div>
            <div class="col-11 col-md-5 col-xl-5 mx-auto">
                <h3 th:text=${motocicleta.nombre}></h3>
                <h5 th:text=${motocicleta.marca}></h5>
                <div class="d-flex ">
					<p class="me-2 fw-bold" th:text="${motocicleta.cilindrada + ' Cv'}"></p>
					<span class="me-2 fw-bold">|</span>
					<p class="fw-bold" th:text="${motocicleta.peso + ' Kg'}"></p>
				</div>
                <p class="desc" th:text=${motocicleta.descripcion}></p>
                <h5 th:text="${motocicleta.precioBase + ' €'}"></h5>
                
                <!--
                <a href="#" th:href="@{/productoACarrito/{id}(id=${producto.id})}">
					<button type="button" class="btn btn-primary">
  						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Comprar
					</button>
				</a>-->
                <button type="button" class="btn">Comprar</button>
            </div>
        </div>
    </main>
    
    
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>