<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Accesorios - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    
    <main id="details">
        <div class="row">
            <div class="col-11 col-md-5 col-xl-5 mx-auto d-flex justify-content-end">
                <img id="imgAccesorio" src="http://placehold.it/400x400" alt=""
					th:src="${#strings.isEmpty(accesorio.imagen)} ? 'http://placehold.it/350x260' : ${accesorio.imagen}"/>
            </div>
            <div class="col-11 col-md-5 col-xl-5 mx-auto">
                <h3 th:text=${accesorio.nombre}></h3>
                <h5 th:text=${accesorio.marca}></h5>
                <p class="desc" th:text=${accesorio.descripcion}></p>
                <p th:text=${accesorio.caracteristicas}></p>
                <h5 th:text="${accesorio.precioBase + ' €'}"></h5>
                
                <!--
                <a href="#" th:href="@{/productoACarrito/{id}(id=${producto.id})}">
					<button type="button" class="btn btn-primary">
  						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Comprar
					</button>
				</a>-->
                <button type="button" class="btn">Comprar</button>
            </div>
        </div>
    </main>
    
    
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>