<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Inicio - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    <main id="mainIndex">
	    <video  width="100%" autoplay muted loop>
	    	<source src="../video/videoIndex.mp4" type="video/mp4">
	    </video>
        <div class="cajaDeTexto">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <p><span>¿Quieres probar tu moto antes de comprarla?</span></p>
                    <p>Puedes solicitar una prueba de tu moto en nuestro concesionario para asegurarte de que todo funciona como pensabas. 
                    Contacta con nosotros via correo.</p>
                    <button class="btn"><a href="#" th:href="@{/contacto}"
								class="btn">Contacto</a></button>
                </div>
            </div>
        </div>
        <div class="cajaDeTexto">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <p><span>Nuevos Articulos</span></p>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-auto">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="../img/nuevoArticulo1.jpg" alt="Imagen motocicleta">
                            <div class="card-body">
                                <h4 class="card-title">R1M</h4>
                                <p class="card-text">Yamaha participó en su primer Gran Premio del Campeonato del Mundo hace 60 años y, durante este tiempo,
                                    las motos de competición de la fábrica han cosechado más de 500 victorias en GGPP. La última R1M ha sido creada haciendo 
                                    uso de toda la experiencia adquirida en los campeonatos del mundo de MotoGP y SBK, lo que la convierte en la Yamaha de 
                                    serie más sofisticada jamás fabricada.</p>
                                <a href="#" class="btn">Ver tienda</a>
                            </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-auto">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="../img/nuevoArticulo2.jpg" alt="Imagen motocicleta">
                            <div class="card-body">
                                <h4 class="card-title">R1M</h4>
                                <p class="card-text">Esta es la Yamaha de motocross que estabas esperando. Más ligera, más rápida y más potente, 
									la nueva YZ450F es un nuevo tipo de máquina que ha sido desarrollada contigo, el piloto, como principal objetivo 
									en mente.</p>
                                <a href="#" class="btn">Ver tienda</a>
                            </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-auto">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="../img/nuevoArticulo3.jpg" alt="Imagen motocicleta">
                            <div class="card-body">
                                <h4 class="card-title">R1M</h4>
                                <p class="card-text">Yamaha participó en su primer Gran Premio del Campeonato del Mundo hace 60 años y, durante este tiempo,
                                    las motos de competición de la fábrica han cosechado más de 500 victorias en GGPP. La última R1M ha sido creada haciendo 
                                    uso de toda la experiencia adquirida en los campeonatos del mundo de MotoGP.</p>
                                <a href="#" class="btn">Ver tienda</a>
                            </div>
                    </div>
                </div>
        </div>
    </main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>