<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Login - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    <main id="mainFormulario">
        <video id="video-background" autoplay muted loop>
            <source src="../video/videoFondoRegistro.mp4" type="video/mp4">
        </video>
        <div class="formulario">
            <div class="cabecera">
                <h1>Formulario de Registro</h1>
            </div>
            <form method="POST" action="#" th:action="@{/login}">
				<div class="mb-3 mt-3">
					<input type="text" class="form-control" id="username" name="username" placeholder="Usuario" required autofocus> 
				</div>
                <div class="mb-3 mt-3">
					<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
				</div>
				<button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>