<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Motocicletas - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    <main>
    	<table class="table">
        	<thead>
	            <tr>
	                <th>Nombre</th>
	                <th>Descripción</th>
	                <th>Cilindrada</th>
	            </tr>
        	</thead>
        	<tbody>
	            <tr th:each="motocicleta : ${motocicletas}">
	                <td th:text="${motocicleta.nombre}"></td>
	                <td th:text="${motocicleta.descripcion}"></td>
	                <td th:text="${motocicleta.cilindrada}"></td>
	            </tr>
        	</tbody>
    	</table>
	</main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>