<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Novedades - TU MOTO</title>
</head>
<body>

    <nav th:replace="~{fragmentos/nav::nav}"></nav>    
    
   <main id="mainNovedades">
        <div class="cajaDeTexto">
            <p>Novedades</p>
            <h3>Aquí te informaremos sobre la actualidad de <span>TU MOTO:</span></h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaEquipoYamaha.jpg" alt="Imagen del equipo Yamaha">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Presentado el equipo Yamaha para la próxima temporada de Moto GP</a></h4>
                        <p class="card-text">enero 13, 2023 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaEmisiones.jpg" alt="Imagen arreglo emisiones">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">¿Emite mi moto más gases de los debidos? Descúbrelo al instante en TU MOTO</a></h4>
                        <p class="card-text">diciembre 3, 2022 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaNuevaMoto.jpg" alt="Imagen motocicleta">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Nueva R7: Supersport de Suzuki de última generación disponible en TU MOTO</a></h4>
                        <p class="card-text">septiembre 19, 2022 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaQuedada.jpg" alt="Imagen quedada motera">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Quedada para celebrar el primer año de apertura de TU MOTO</a></h4>
                        <p class="card-text">mayo 01, 2022 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaGuantes.jpg" alt="Imagen guantes moto">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Nuevos guantes con tecnología transpirable de Honda</a></h4>
                        <p class="card-text">abril 13, 2022 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mx-auto">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../img/noticiaCasco.jpg" alt="Imagen casco de moto">
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Nuevos cascos Zeus a mitad de precio en TU MOTO</a></h4>
                        <p class="card-text">enero 13, 2022 | Empresa, Motos</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>