*{
    box-sizing: border-box;
}
.navbar-brand img{
    width: 50px;
}
body nav{
    background-color: rgb(78, 3, 3);
}
.navbar-nav{
    font-size: 15pt;
}
.navbar-nav a{
    color: rgb(213, 212, 212);
}
.navbar-nav a:hover{
    color: white;
}
.navbar-nav .active {
    color: rgb(178, 162, 72) !important;
}
footer{
    background-color: rgb(78, 3, 3);
    color: white;
}
#logoFooter img{
    width: 90px;
    padding: 0px;
}
footer h6{
    padding-top: 20px;
}
section img{
    width: 100%;
}
main{
    margin-top: 70px;
}
.sobreNosotros{
    background-image: url("img/fondoSobreNosotros.jpg");
    background-size: cover;
    padding: 4%;
    color: white;
}
.quienesSomos h2{
    margin-bottom: 28px;
}
.row div{
    padding: 0px;
}
.seccion{
    padding-top: 10% !important;
    padding-left: 17% !important;
    padding-right: 17% !important;
    padding-bottom: 10% !important;
}
.seccion h2{
    color: rgb(78, 3, 3);
}
.dondeEstamos h1{
    color: rgb(78, 3, 3);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
}
.dondeEstamos iframe{
    width: 100%;
}
.row{
    width: 100%;
}
.contenedor{
    background-color: rgb(178, 162, 72);
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 3%;
    padding-left: 3%;
}
.contenedor h6{
    color: rgb(78, 3, 3);
    font-size: 20pt;
}
.caja{
    display: flex;
    padding-right: 6% !important;
}
.caja i{
    font-size: 35pt;
    padding-right: 7%;
}