<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
</head>

<body>
	
	<nav class="navbar navbar-expand-lg fixed-top" th:fragment="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html" th:href="@{/}"><img src="../../img/logotipo.png" alt="logo marca"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="motocicletas/motocicletas.html" class="nav-item nav-link">Motocicletas</a> 
                    <a href="accesorios/accesorios.html" class="nav-item nav-link">Accesorios</a>
                    <a href="../contacto.html" th:href="@{/contacto}" class="nav-item nav-link">Contacto</a>
                    <a href="../novedades.html " th:href="@{/novedades}" class="nav-item nav-link">Novedades</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="formularioRegistro/formularioRegistro.html" class="nav-item nav-link"><i class="bi bi-person"></i></i></i></a>
                    <a href="cesta/cesta.html" class="nav-item nav-link"><i class="bi bi-bag"></i></i></a>
                </div>
            </div>
        </div>
    </nav>
    
</body>