<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
</head>

<body>
	
	<nav class="navbar navbar-expand-lg fixed-top" th:fragment="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html" th:href="@{/}"><img src="../../../img/logotipo.png" alt="logo marca"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="motocicletas.html" th:href="@{/motocicleta/}" sec:authorize="isAuthenticated()" class="nav-item nav-link">Motocicletas</a> 
                    <a href="accesorios.html" th:href="@{/accesorio/}" sec:authorize="isAuthenticated()" class="nav-item nav-link">Accesorios</a>
                    <a href="../../contacto.html" th:href="@{/contacto}" class="nav-item nav-link">Contacto</a>
                    <a href="../../novedades.html" th:href="@{/novedades}" class="nav-item nav-link">Novedades</a>
                	<a href="../../admin/indexAdmin.html" th:href="@{/admin/indexAdmin}" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link">GESTIONAR</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="../../login.html" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="nav-item nav-link"><i class="bi bi-person"></i></a>
                    <form method="POST" action="#" th:action="@{/logout}"><a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-item nav-link"><i class="bi bi-person-slash"></i></a></form>
                    <a href="carrito.html" th:href="@{/carrito}" sec:authorize="isAuthenticated()" class="nav-item nav-link"><i class="bi bi-bag"></i></a>
                </div>
            </div>
        </div>
    </nav>
    
</body>