<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
</head>

<body>
	
	<nav class="navbar navbar-expand-lg fixed-top" th:fragment="navAdmin">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html" th:href="@{/}"><img src="../../../img/logotipo.png" alt="logo marca"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="listMotocicleta.html" th:href="@{/motocicleta/admin}" class="nav-item nav-link">Motocicletas</a> 
                    <a href="accesorios/accesorios.html"           class="nav-item nav-link">Accesorios</a>
                    <a href="listTrabajador.html" th:href="@{/admin/trabajador/}"  class="nav-item nav-link">Trabajadores</a>
         
                </div>
            </div>
        </div>
    </nav>
    
</body>