*{
    box-sizing: border-box;
}
.navbar-brand img{
    width: 50px;
}
body nav{
    background-color: rgb(78, 3, 3);
}
.navbar-nav{
    font-size: 15pt;
}
.navbar-nav a{
    color: rgb(213, 212, 212);
}
.navbar-nav a:hover{
    color: white;
}
.navbar-nav .active {
    color: rgb(178, 162, 72) !important;
}
footer{
    background-color: rgb(78, 3, 3);
    color: white;
}
#logoFooter img{
    width: 90px;
    padding: 0px;
}
footer h6{
    padding-top: 20px;
}
.row{
    width: 100%;
    margin: 0px;
}

/*index*/
#mainIndex{
    margin-top: -20px;
}
#mainIndex .cajaDeTexto .row{
    text-align: center;
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 50px;
}
#mainIndex .cajaDeTexto div span{
    font-size: 30pt;
    color: rgb(78, 3, 3);
}
#mainIndex .btn{
    background-color: rgb(178, 162, 72);
    color: white;
}
#mainIndex .btn:hover{
    background-color: rgb(78, 3, 3);
    color: white;
}

/*novedades*/
#mainNovedades .seccion img{
    width: 100%;
}
#mainNovedades{
    margin-top: 70px;
}
#mainNovedades .card-title a{
    font-size: 18pt;
    color: rgb(78, 3, 3);
    text-decoration: none;
}
#mainNovedades .card{
    margin-bottom: 20px;
}
#mainNovedades .cajaDeTexto{
    background-color: rgb(178, 162, 72);
    padding: 15px;
    margin-bottom: 20px;
}
#mainNovedades .cajaDeTexto p{
    font-size: 12pt;
    color: rgb(78, 3, 3);
}
#mainNovedades .cajaDeTexto h3{
    font-size: 20pt;
    color: white;
}
#mainNovedades .cajaDeTexto h3 span{
    color: white;
}

/*contacto*/
#mainContacto section img{
    width: 100%;
}
#mainContacto .sobreNosotros{
    background-image: url("../img/fondoSobreNosotros.jpg");
    background-size: cover;
    padding: 4%;
    color: white;
}
#mainContacto .quienesSomos h2{
    margin-bottom: 28px;
}
#mainContacto .row div{
    padding: 0px;
}
#mainContacto .seccion{
    padding-top: 10% !important;
    padding-left: 17% !important;
    padding-right: 17% !important;
    padding-bottom: 10% !important;
}
#mainContacto .seccion h2{
    color: rgb(78, 3, 3);
}
#mainContacto .dondeEstamos h1{
    color: rgb(78, 3, 3);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
}
#mainContacto .dondeEstamos iframe{
    width: 100%;
}
#mainContacto{
    margin-top: 70px;
}
#mainContacto .row{
    width: 100%;
}
#mainContacto .contenedor{
    background-color: rgb(178, 162, 72);
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 3%;
    padding-left: 3%;
}
#mainContacto .contenedor h6{
    color: rgb(78, 3, 3);
    font-size: 20pt;
}
#mainContacto .caja{
    display: flex;
    padding-right: 6% !important;
}
#mainContacto .caja i{
    font-size: 35pt;
    padding-right: 7%;
}
/*formularioCliente*/
#mainFormularioCliente{
    margin-top: 70px;
}
#mainFormularioCliente .formulario{
    margin-top: 100px !important;
    margin: 0 auto;
    width: 50%;

}
#mainFormularioCliente .cabecera{
    background-color: rgb(178, 162, 72);
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
#mainFormularioCliente .cabecera p{
    margin-bottom: 0px;
}
#mainFormularioCliente form{
    background-color: rgba(0, 0, 0, 0.8);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    border-bottom-right-radius:  10px;
    border-bottom-left-radius: 10px;
}
#mainFormularioCliente .btn{
    width: 100%;
    height: 50px;
    background-color: rgb(178, 162, 72);
    color: white;
}
#mainFormularioCliente .btn:hover{
    background-color: rgb(78, 3, 3);
    color: white;
}
#mainFormularioCliente #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 1550px;
    z-index: -1;
}
#mainFormularioCliente label{
    color: white;
}

