<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Formulario Trabajador - TU MOTO</title>
</head>
<body class="bg-dark">
    <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>    
    <main id="mainFormulario">
        <div class="formulario">
            <div class="cabecera">
                <h1>Formulario Trabajador</h1>
            </div>
            <form method="post" action="#" th:action="@{/admin/trabajador/nuevo/submit}" th:object="${trabajador}" onsubmit="return validarFormularioTrabajador()">
				
				<input type="hidden" th:field="*{id}" id="id" />
				
                <div class="mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" 
                    name="nombre" required="required" th:field="*{nombre}" maxlength="25">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" 
                    name="apellidos" required="required" th:field="*{apellidos}" maxlength="35">
                </div>
                <div class="mb-3 mt-3">
                    <input type="number" class="form-control" id="sueldo"  pattern="\d{1,5}" placeholder="Sueldo" 
                    name="sueldo" required="required" th:field="*{sueldo}">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="telefono" pattern="[0-9\s]{1,13}" placeholder="Teléfono" 
                    name="telefono" th:field="*{telefono}">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="dni" maxlength="10" placeholder="Dni"
                     name="dni" th:field="*{dni}">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="direccion" placeholder="Dirección" 
                    name="direccion" th:field="*{direccion}">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="municipio" placeholder="Municipio" 
                    name="municipio" th:field="*{municipio}">
                </div>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>