<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Gestión Motocicletas - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>    
    <main class="listado">
        <div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-12">
				<div class="pull-right">
					<a href="formMotocicleta.html" th:href="@{/motocicleta/admin/nuevo}"
						class="btn">Nueva Motocicleta</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Marca</th>
							<th>Categoría</th>
							<th>Descripción</th>
							<th>Precio Base</th>
							<th>Peso</th>
							<th>Cilindrada</th>
							<th>Fecha Alta</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="motocicleta : ${listaMotocicletas}">
							<td><img
								th:src="${not (#strings.isEmpty(motocicleta.imagen))} 
								              ? ${motocicleta.imagen} : 'http://placehold.it/48x48'"
								class="img-responsive icono-categoria" alt="imagen" /></td>
							<td th:text="${motocicleta.nombre}"></td>
							<td th:text="${motocicleta.marca}"></td>
							<td th:text="${motocicleta.categoria}"></td>
							<td th:text="${motocicleta.descripcion}"></td>
							<td th:text="${#numbers.formatCurrency(motocicleta.precioBase)}"></td>
							<td th:text="${motocicleta.peso}"></td>
							<td th:text="${motocicleta.cilindrada}"></td>
							<td th:text="${motocicleta.alta}"></td>
							
							<td><a href="#" th:href="@{/motocicleta/admin/editar/{id}(id=${motocicleta.id})}"
								class="btn btn-custom">Editar</a>
							
							<td><a href="#" th:href="@{/motocicleta/admin/borrar/{id}(id=${motocicleta.id})}"
								class="btn">Borrar</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>