<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <title>Gestión Motocicletas - TU MOTO</title>
</head>
<body>
    <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>    
    <main class="listado">
        <div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="pull-right">
					<a href="formTrabajador.html" th:href="@{/admin/trabajador/nuevo/}"
						class="btn">Nuevo Trabajador</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Dni</th>
							<th>Direccion</th>
							<th>Municipio</th>
							<th>Teléfono</th>
							<th>Sueldo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="trabajador : ${listaTrabajadores}">
							<td th:text="${trabajador.nombre}"></td>
							<td th:text="${trabajador.apellidos}"></td>
							<td th:text="${trabajador.dni}"></td>
							<td th:text="${trabajador.direccion}"></td>
							<td th:text="${trabajador.municipio}"></td>
							<td th:text="${trabajador.telefono}"></td>
							<td th:text="${trabajador.sueldo}"></td>
							
							<td><a href="#" th:href="@{/admin/trabajador/editar/{id}(id=${trabajador.id})}"
								class="btn btn-custom">Editar</a>
							
							<td><a href="#" th:href="@{/admin/trabajador/borrar/{id}(id=${trabajador.id})}"
								class="btn">Borrar</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>